.about {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffffff, #bbe4ff);
  justify-content: center;
  align-items: center;
}

.about__content {
  display: flex;
  position: relative;
  z-index: 10;
  gap: 80px;
  margin: 0 80px 0;
}

.about__content-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: auto;
}

.about__content-box-title {
  color: #5652fa;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.about__content-box-text {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
}
