:root {
  --text-title: #5f5db4;
  --text-body: #48468f;
  --text-muted: #8a88b8;
  --text-link: #5f5db4;
  background-color: #f5f5f5;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}